body {
    margin: .5% 2%;

}


#logo {
    font-family: 'Kolker Brush', cursive;
    font-size: 56px;
    color: white;
    height: 6vh;
    margin-top: -1%;
    padding: 0% 1%;
}

#div1 {
    background-color: black;
    width: 100%;
    height: 60vh;
    display: flex;
}

#photo {
    width: 25%;
    height: 30vh;
}

#text1 {
    color: white;
    margin: 9% 17%;

}
#text2{
    color: white;
    font-size: 38px;
    margin: 13% -43%;
}

#text3{color: white;
    font-size: 34px;
    margin: 18% 1%;}

.btn{height: 7vh;
    margin: 25% -28%;}